body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: lightcoral;
  }
  h1{
    font-size: 8rem;
  }
  #counter {
    font-size: 24rem;
    margin-bottom: 50px;
  }
  .counter-btn {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 10px;
    background-color: lightgreen;
  }
